* {
    padding: 0;
    margin: 0;
    font-family: arial;
    
}
body{
    color: #fff;
    background-image: linear-gradient( 179.7deg,  rgb(124, 0, 106) 1.1%, rgba(22,0,98,1) 99% );    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    

}

.main-container{
    margin: 9rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.name h2,.name p{
    margin-top: 2rem;
    font-size: 1rem;
    text-align: center;
}


.imgcontainer img {
    border-radius: 50%;
    width: 200px;
    border: 4px solid #8400ff;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    
}


.links-container{
    margin: 20px 0;
    
}

.links-container ul{
    list-style-type: none;
    padding: 0;
}

.links-container ul a, footer a{
    text-decoration: none;
    color: #ffffff;
}


.links-container li{
    background-color: #611777;
    padding: 16px 140px;
    border-radius: 8px;
    border: 1px solid #696969 ;
    cursor: pointer;
    text-align: center;
    list-style: none;
    margin: 10px;
    transition: 0.3s ;
}


.links-container li:hover{
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
    border: 1px solid #000000;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.icons-container {
    display: flex;
    margin: 10px 0;
    
}

.icons-container ul{
    display: flex;
    height: 88px;
    width: 360px;
    list-style-type: none;
    justify-content: center;
   
}
.icons-container ul li img{
    padding: 24px;
    width: 30px;
    border-radius: 50%;
    transition: 0.3s;
}

.icons-container ul li img:hover{
    transform: scale(1.4);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    
}

footer{
    font-size: 14px;
}

